:root {
  --blue: #008dd5;
  --orange: #e57a44;
  --green: #4fb477;
  --red: #e4572e;
  --light: #e6f3d4;
  --lighter: #fbf9ff;
  --dark: #3e3d42;
  --darker: #2c2c2e;
  --black: #1c1c1e;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
  color: var(--lighter);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  all: unset;
  cursor: pointer;
}
